body {
	font-family: sans-serif;
	background-color:#fff;
}
a{
	text-decoration:none;
	color:#444;
}

a:hover,
a:focus{
	text-decoration:underline;
}

input{
	line-height:23px;
}

.header-wrapper{
	width:100%;
	height:50px;
	clear:both;
}

.header{
	min-width:350px;
	float:right;
	color:#000;
	top:0px;
	font-family: arial, sans-serif;
	font-size:13px;
	clear:both;
}

.header ul{
	list-style-type:none;
	margin-right:20px;
	margin-top:5px;
}

.header ul li{
	display:inline;
	padding-left:14px;
}

.profile{
	width:32px;
	border:none;
	border-radius:16px;
}

.meat{
	width:500px;
	margin-left:auto;
	margin-right:auto;
}

.logo{
	height:95px;
	width:269px;
	padding-top:130px;
	padding-left:114px;
	padding-bottom:20px;
}

.searchbar input{
	width:100%;
}

.buttons{
	max-width:230px;
	margin-left:auto;
	margin-right:auto;
}

.buttons input{
	display:inline;
}

.footer-wrapper{
	position:absolute;
	bottom:0px;
	padding-bottom:10px;
	max-height:30px;
	width:99%;
	border-top:solid 1px;
	border-color:#e4e4e4;
	background-color: #f2f2f2;
	color:#444;
	font-size: 13px;
}

.footer-left{
	float:left;
	margin-left:-20px;
}

.footer-left ul{
	list-style-type:none;
}

.footer-left ul li{
	display:inline;
	padding-right:30px;
}

.footer-right{
	float:right;
}

.footer-right ul{
	list-style-type:none;
}

.footer-right ul li{
	display:inline;
	padding-left:30px;
}